.idea
__pycache__
db.sqlite3
*.pyc
gen
media
api_keys.txt

# Elastic Beanstalk Files
web-application/dashboard/.ebextensions/*
web-application/dashboard/.elasticbeanstalk/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
