.idea
__pycache__
db.sqlite3
*.pyc
antlr4
gen
media

# Elastic Beanstalk Files
web-application/dashboard/.ebextensions/*
web-application/dashboard/.elasticbeanstalk/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
